@media (max-width: 615px) {    
    .navbar-wrapper {
        display: grid;        
        justify-items: left;        
    }
    
    .logo {        
        justify-content: flex-start;          
    }

    .dropdown {
        display: flex;  
        float: left;             
    }

    a.stacked-bars {
        display: inline-block;                   
        padding: 20px;        
        color: #11122b;
        font-size: 1.5rem;
    }

    a.stacked-bars:hover, a.stacked-bars:focus {
        background-color: rgba(40, 38, 202, 0.808);
        color: rgb(237, 237, 243);                        
    }

    .my-name {        
        padding-left: 20px;     
    }

    .link-box-left , .link-box-right {
        display: none;     
    } 

    #dropdown-content a {
        display: none;        
    } 

    #dropdown-content a button { /*allows to activate hover style for text when hovering anywhere on a element*/
        width: 100vw;
    }

    #dropdown-content.active a {
        display: block;       
        background-color: rgba(40, 38, 202, 1.05);        
        text-align: center;
    }

    #dropdown-content.active a button:hover {     
        background-color: rgb(237, 237, 243);
        color: rgba(60, 58, 202, 0.808);
        font-weight: bold; 
    }   
}